{{ range .Feeds }}
    <a class="item" href="{{ .Link }}">
        <p class="item-title">
            {{ template "highlight_string.gohtml" .HighlightTitle }}
        </p>
        <p class="item-description">{{ .Description }}</p>
    </a>
{{ end }}
{{ if .HasMore }}
<span
    class="item"
    style="text-align: center;"
    hx-trigger="intersect once"
    hx-swap="outerHTML"
    hx-post="/feeds?page={{ .NextPage }}&query={{ .Query }}"
    >
    Loading...
</span>
{{ end }}
