{{ range .Entries }}
    <a class="item" href="{{ .Link }}">
        <p class="item-title">
            {{ range .HighlightTitle }}{{ if .Highlight }}<mark>{{ .Value }}</mark>{{ else }}{{ .Value }}{{ end }}{{ end }}
        </p>
        <p class="item-description">{{ .Feed }} <time datetime={{ .Published }}>{{ .Published }}</time></p>
    </a>
{{ end }}
{{ if .HasMore }}
<span
    class="item"
    hx-trigger="intersect once"
    hx-swap="outerHTML"
    hx-post="/entries?offset={{ .NextOffset }}&size={{ len .Entries }}{{ if .Query }}&query={{ .Query }}{{ end }}"
    style="text-align: center;"
    >
    Loading...
</span>
{{ end }}
