{{ range .Entries }}
    <a class="item" href="{{ .Link }}" data-entry-id="{{ .Id }}">
        <p class="item-title">
            {{ template "highlight_string.gohtml" .HighlightTitle }}
        </p>
        <p class="item-description">
            {{ template "highlight_string.gohtml" .HighlightFeed }} <time datetime={{ .Published }}>{{ .Published }}</time>
        </p>
    </a>
{{ end }}
{{ if .HasMore }}
<span
    class="item"
    style="text-align: center;"
    hx-trigger="intersect once"
    hx-swap="outerHTML"
    hx-post="/entries?page={{ .NextPage }}&query={{ .Query }}&order={{ .Order }}"
    >
    Loading...
</span>
{{ end }}
